body{
  background-color:#FFFAA0;
}
hr{
  background-color:white;
  border-style:dotted none none;
 height:0px;
  width:5%;
  border-color:grey;
  border-width:5px;

}
.profile{
  height:250px;
  width:100%;
}
img{
  height:300px;
  width:70%;
}
.heading{
  color:#001D6E;
  font-size:80px;
}

h1:hover{
  color:#F7418E;
}
h3:hover{
  color:#F7418E;
  font-size:30px;
}
p{
  color:#F806CC;
  
}
a{
  color:#A760FF;
}
