body{
  background-color:#FFB6C1;
}
hr{
  background-color:white;
  border-style:dotted none none;
 height:0px;
  width:5%;
  border-color:grey;
  border-width:5px;

}
table{
  background-color:#ADD8E6;
}
.profile{
  height:250px;
  width:100%;
}

.heading{
  color:#F7418E;
  font-size:80px;
}
h3{
  color:#001D6E;
  font-size:30px;
}
h1:hover{
  color:Black;
}
h3:hover{
  color:Black;
  
}
p{
  color:Black;
  
}
a{
  color::#F7418E;
}
