body{
  background-color:#E4F9F5;
}
hr{
  background-color:white;
  border-style:dotted none none;
 height:0px;
  width:5%;
  border-color:black;
  border-width:5px;

}
 table ,th,td{
    border:1px solid black ;
    border-radius:10px;
      
      
    }
table{
  background-color:black;
}

    th,td{
      background-color:#D3D3D3;
    }

.profile{
  height:350px;
  width:100%;
}

.heading{
  color:black;
  font-size:80px;
}
h3{
  color:Black;
  font-size:30px;
}
h1:hover{
  color:#FF0000;
}
h3:hover{
  color:#FF0000;
  
}
p{
  color:Black;
  
}
a{
  color:#001D6E;
}
div{
padding:20px;
}
